@page
@model MilgradDairy.Pages.Account

@{
    ViewBag.Title = "Milgrad Dairy | account";
}

<div class="card-container">
    <div class="card-item product-card">
        <h1>create an account:</h1>
    </div>

    <div class="card-item white-card" id="form-card">
        <form method="post">
            <label asp-for="Customer.FirstName"></label>
            <input asp-for="Customer.FirstName">
            <span asp-validation-for="Customer.FirstName"></span>
            
            <label asp-for="Customer.LastName"></label>
            <input asp-for="Customer.LastName">
            <span asp-validation-for="Customer.LastName"></span>
            
            <label asp-for="Customer.Email"></label>
            <input asp-for="Customer.Email">
            <span asp-validation-for="Customer.Email"></span>
            
            <label asp-for="Customer.Password"></label>
            <input asp-for="Customer.Password">
            <span asp-validation-for="Customer.Password"></span>
            
            <label asp-for="Customer.ConfirmPassword"></label>
            <input asp-for="Customer.ConfirmPassword">
            <span asp-validation-for="Customer.ConfirmPassword"></span>
            
            <br><label>i have read the terms and conditions <a asp-page="Terms" target="_blank">here</a></label>
            <input asp-for="Customer.Accept">
            <span asp-validation-for="Customer.Accept"></span>
            <input type="submit" value="submit">
        </form>
    </div>

    <div class="card-item white-card">
        <video controls autoplay muted>
            <source src="~/video/love.mp4" type="video/mp4">
            Sorry, your browser does not support this video :(
        </video>
    </div>
</div>

<div class="all-products">
    <img src="~/images/all-products.png" alt="Our product range">
    <a asp-page="All" class="submit-button">see all products</a>
</div>
