@page
@model MilgradDairy.Pages.All

@{
    ViewBag.Title = "Milgrad Dairy | home";
}

<div class="card-container" id="small-card-container">
    <div class="card-item product-card">
        <h1>shop all products:</h1>
    </div>

    <div class="card-item white-card">
        <a asp-page="milk.html"><img src="~/images/milk.png" alt="A carton of milk"></a>
        <a asp-page="milk.html">milk</a>
    </div>

    <div class="card-item white-card">
        <a asp-page="butter.html"><img src="~/images/butter.png" alt="A pack of salted butter"></a>
        <a asp-page="butter.html">butter</a>
    </div>

    <div class="card-item white-card">
        <a asp-page="yoghurt.html"><img src="~/images/yoghurt.png" alt="A tub of banana yoghurt"></a>
        <a asp-page="yoghurt.html">yoghurt</a>
    </div>

    <div class="card-item white-card">
        <a asp-page="kefir.html"><img src="~/images/kefir.png" alt="A carton of kefir"></a>
        <a asp-page="kefir.html">kefir</a>
    </div>

    <div class="card-item white-card">
        <a asp-page="snack-bar.html"><img src="~/images/snack-bar.png" alt="A vanilla snack bar"></a>
        <a asp-page="snack-bar.html">snack bar</a>
    </div>
</div>
