@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MilgradDairy.Pages.All

@{
    ViewBag.Title = "Milgrad Dairy | home";
}

<div class="card-container" id="small-card-container">
    <div class="card-item product-card">
        <h1>shop all products:</h1>
    </div>
    
    @foreach (var product in Model.Products)
    {
        <div class="card-item white-card">
            <a asp-page="ViewProduct" asp-route-Name="@product.Name"><img src="@Url.Content(product.Image)" alt=@product.AltText></a>
            <a asp-page="ViewProduct" asp-route-Name="@product.Name">@product.Name</a>
        </div>
    }
</div>
