@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MilgradDairy.Pages.Contact

@{
    ViewBag.Title = "Milgrad Dairy | contact";
}

<div class="card-container">
    <div class="card-item product-card">
        <h1>contact us:</h1>
    </div>

    <div class="card-item white-card">
        <p>write to us here:<br>50th Army str., 2B<br>Bryansk<br>Russia<br>241027</p>
        <p>call us on +7(4832) 52-49-11 </p>
        <p>or email us <a asp-page="mailto:info@bmk32.ru">here</a></p>
    </div>

    <div class="card-item white-card">
        <img src="~/images/milk-cookies.jpeg" alt="A glass of milk with cookies">
    </div>
</div>