@page
@model IndexModel

@{
    ViewBag.Title = "Milgrad Dairy | home";
}

<div class="main-photo">
    <img src="~/images/milk-strawberries.jpeg" alt="A glass of milk with cookies and strawberries">
</div>

<div class="milk-banner">
    <img src="~/images/milk-left.jpeg" alt="Our milk cartons">
    <a asp-page="Milk" class="submit-button">buy milk</a>
    <img src="~/images/milk-right.jpeg" alt="Our milk cartons">
</div>

<div class="product-flex-container">
    <div id="order-1">
        <a asp-page="Yoghurt" class="product-flex-image">
            <img src="~/images/yoghurt.png" alt="A tub of strawberry yoghurt">
        </a>
        <div class="product-flex-text left-text">
            <a asp-page="Yoghurt">yoghurt</a>
            <p>strawberry</p>
        </div>
    </div>

    <div id="order-3">
        <a asp-page="SnackBar" class="product-flex-image">
            <img src="~/images/snack-bar.png" alt="A coconut snack bar">
        </a>
        <div class="product-flex-text left-text">
            <a asp-page="SnackBar">snack bar</a>
            <p>coconut</p>
        </div>
    </div>

    <div id="order-2">
        <div class="product-flex-text right-text">
            <a asp-page="Butter">butter</a>
            <p>salted</p>
        </div>
        <a asp-page="Butter" class="product-flex-image">
            <img src="~/images/butter.png" alt="A pack of salted butter">
        </a>
    </div>

    <div id="order-4">
        <div class="product-flex-text right-text">
            <a asp-page="Kefir">kefir</a>
            <p>3.2% fat</p>
        </div>
        <a asp-page="Kefir" class="product-flex-image">
            <img src="~/images/kefir.png" alt="A carton of kefir">
        </a>
    </div>
</div>

<div class="all-products">
    <img src="~/images/all-products.png" alt="Our product range">
    <a asp-page="All" class="submit-button">see all products</a>
</div>

<div class="wallpaper">
    <img src="~/images/wallpaper.jpeg" alt="Cartoon cats">
    <p>we've created a new approach towards dairy - tasty products made from all-natural ingredients, served in packaging that's guaranteed to make you smile :)</p>
</div>